.login-box, .register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.init-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-page, .login-container, .login-wrapper{
    width: 100vh;
}

body {
    min-height: 100vh;
}

.navbar {
    min-height: 100vh;
    width: 60px;
}

.dashboard, .editor, .enrollments {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    gap: 15px;
}